.paper-feedback {
  position: relative; 
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-top: 0px;
}

.star-rating-container {
  display: flex; 
  justify-content: center; 
  gap: clamp(10px, 2vw, 30px);
  margin-bottom: -10px; 
  margin-left: 70px;
}
#feedBtn {
  bottom: 2%; 
  left: 90%;
  width: clamp(100px, 20vw, 150px);
  height: clamp(30px, 5vw, 40px);
}


@media (max-width: 1024px) {
  .paper-feedback {
    width: 85%;
    margin-top: 250px;
  }

  .star-rating-container {
    gap: clamp(8px, 3vw, 25px);
    margin-left: 50px;
    margin-top: -4px;
  }

  #feedBtn {
    left: 80%;
    width: clamp(90px, 18vw, 140px);
    height: clamp(28px, 4.5vw, 38px);
  }
}

/* للشاشات الصغيرة */
@media (max-width: 768px) {
  .paper-feedback {
    width: 90%;
    margin-top: 35px;
  }

  .star-rating-container {
    gap: clamp(6px, 4vw, 20px);
    margin-left: 30px;
  }

  #feedBtn {
    left: 70%;
    width: clamp(80px, 22vw, 120px);
    height: clamp(25px, 5vw, 35px);
  }
}

/* للشاشات الصغيرة جدًا */
@media (max-width: 480px) {
  .paper-feedback {
    width: 95%;
    margin-top: 30px;
  }

  .star-rating-container {
    gap: 0px;
    margin-left: 5px;
    flex-wrap: wrap;
  }

  @media(max-width:800px){
 #feedBtn {
    
    width: clamp(70px, 30vw, 100px);
    height: clamp(20px, 6vw, 30px);
    
  }


  }
  #feedBtn {
    left: 60%;
    width: clamp(70px, 30vw, 100px);
    height: clamp(20px, 6vw, 30px);
  }
}
